**/*.go {
    prep: go test @dirmods
}

# don't run on test files
**/*.go !**/*_test.go **/*.gohtml **/*.tmpl **/*.js **/*.css {
    prep: go build -o festor.info cmd/web/main.go
    daemon +sigterm: ./festor.info
}