{{ define "footer" }}
<footer>
    <div id="copyright">
        <p>
            Made with <a href="https://go.dev">Go</a>, <a href="https://sass-lang.com/">SCSS</a> and ❤️
        </p>
        <p>&copy; Brücke - {{ .CurrentYear }}</p>
    </div>
</footer>
{{ end }}