{{ define "title" }}Index{{ end }}

{{ define "body" }}
<section id="about">
    <div id="about-img-container">
        <img id="about-img" src="/static/img/danny.jpg" role="img" alt="This is me" aria-label="This is me" />
    </div>
    <article class="relative flex flex-1 flex-col items-center justify-center gap-4 px-8">
        <p style="font-size: 1.25rem; text-align: center">Hi, ich bin Danny!</p> 
        <h2 style="font-size: 1.5rem">
            Ich bin <em>Freelancer</em>.
        </h2>
        <h1 style="font-size: 1.75rem; text-align: center">
            Ich erstelle <strong>moderne Webseiten</strong>.
        </h1>
        <h3 style="text-align: right">Ich lebe in <em>Nagasaki, Japan</em>.</h3>

        <p class="icons" style="margin-top: 3rem">
            <a href=""><img src="/static/icons/go.svg" alt="GO" aria-label="GO" title="GO"></a>
            <a href=""><img src="/static/icons/php.svg" alt="PHP" aria-label="PHP" title="PHP"></a>
            <a href=""><img src="/static/icons/laravel.svg" alt="Laravel" aria-label="Laravel" title="Laravel"></a>
            <a href=""><img src="/static/icons/livewire.svg" alt="Livewire" aria-label="Livewire" title="Livewire"></a>
            <a href=""><img src="/static/icons/inertia.svg" alt="Inertia.js" aria-label="Inertia.js" title="Inertia.js"></a>
        </p>

        <p class="icons">
            <a href=""><img src="/static/icons/javascript.svg" alt="JavaScript" aria-label="JavaScript" title="JavaScript"></a>
            <a href=""><img src="/static/icons/typescript.svg" alt="TypeScript" aria-label="TypeScript" title="TypeScript"></a>
            <a href=""><img src="/static/icons/vuejs.svg" alt="Vue.js" aria-label="Vue.js" title="Vue.js"></a>
            <a href=""><img src="/static/icons/alpinejs.svg" alt="Alpine.js" aria-label="Alpine.js" title="Alpine.js"></a>
            <a href=""><img src="/static/icons/flutter.svg" alt="Flutter" aria-label="Flutter" title="Flutter"></a>
        </p>

        <p id="cv">
            <span>Download my CV 履歴書</span>
            <span>
                <a href="/static/cv/[GER]-2022-12-15.pdf">
                    <img src="/static/flags/de.svg" alt="German CV" aria-label="German CV" title="German CV">
                </a>
                <a href="/static/cv/[ENG]-2022-12-15.pdf">
                    <img src="/static/flags/us.svg" alt="English CV" aria-label="English CV" title="English CV">
                </a>
                <a href="/static/cv/[JAP]-2022-12-15.pdf">
                    <img src="/static/flags/jp.svg" alt="Japanese CV" aria-label="German CV" title="German CV">
                </a>
            </span>
        </p>
    </article>
</section>
{{ end }}