main {
    img#about-img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        object-fit: cover;
        opacity: 30%;
    }

    section#about {
        display: grid;
        justify-content: center;
        align-content: center;
        height: 100%;
    }
}