html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,h1,h2,h3,h4,h5,h6,p,ol,ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

main,
footer {
  margin-left: 3rem;
  padding: 1rem;
  
  @media screen and (min-width: 640px) {
    & {
      margin-left: 13rem;
    }
  }
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  width: 3rem;
  transition: 0.25s width ease-in-out;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;

  &:hover {
    width: 13rem;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  }

  #nav-logo {
    position: relative;

    & svg {
      position: absolute;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
      left: 50%;
      transform: translateX(-50%);
      transition: all 500ms ease-in-out;
    }

  }
  
  #logo-ue {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    transform: translateX(-55%);
  }

  #logo-b,
  #logo-r,
  #logo-c,
  #logo-k,
  #logo-e {
    visibility: hidden;
    opacity: 0;
    width: 70%;
    height: 70%;
    flex-shrink: 0;
    transform: translateY(20px);
  }

  &.open, &:hover {
    #logo-ue {
      transform: translateX(-75%);
    }
  } 

  // &.open #logo-b,
  // &.open #logo-r,
  // &.open #logo-c,
  // &.open #logo-k,
  // &.open #logo-e,
  // &:hover #logo-b,
  // &:hover #logo-r,
  // &:hover #logo-c,
  // &:hover #logo-k,
  // &:hover #logo-e {
  //   visibility: visible;
  //   opacity: 100;
  //   width: 34px;
  //   height: 48px;
  // }

  // &.open #logo-b,
  // &:hover #logo-b {
  //   transform: translateX(-310%) translateY(40%);
  // }

  // &.open #logo-r,
  // &:hover #logo-r {
  //   transform: translateX(-215%) translateY(40%);
  // }

  // &.open #logo-c,
  // &:hover #logo-c {
  //   transform: translateX(0) translateY(40%);
  // }

  // &.open #logo-k,
  // &:hover #logo-k {
  //   transform: translateX(90%) translateY(40%);
  // }

  // &.open #logo-e,
  // &:hover #logo-e {
  //   transform: translateX(170%) translateY(40%);
  // }
}