body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  background: linear-gradient(
    to right,
    hsl(224, 66%, 100%) 0,
    hsl(224, 66%, 95%) 100%
  );
}

main,
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 3rem;
  padding: 1rem;
  font-family: "Bitter", serif;

  @media screen and (min-width: $mobileBreakPoint) {
    & {
      margin-left: 13rem;
    }
  }
}

footer {
  align-items: center;

  a {
    text-decoration: underline;
  }

  div#copyright {
    width: 360px;
    padding: 1rem 3rem;
  }
}
