{{ template "app" . }}

{{ define "title" }}Blog Index{{ end }}

{{ define "body" }}
<h2>Latest Blog</h2>

<form id="search" method="GET">
    <label>
        <span>Title</span>
        <input type="search" name="title" id="title" value="{{ .Search.Title }}">
    </label>
    <label>
        <span>Tag</span>
        <select name="tag_id" id="tag_id">
            <option value="" {{ if eq .Search.TagID 0}}selected{{ end }}>All</option>
            {{ range $type := .Data.Types }}
            <option value="{{ $type.Id }}" {{ if eq $.Search.TagID $type.Id }}selected{{ end }}>{{ $type.Title }}</option>
            {{ end }}
        </select>
    </label>
    <button>Search</button>
</form>

<section>
    {{ range $post := .Data.Posts }}
    <article>{{ $post.Id }} - {{ $post.Title }} - {{ $post.TypeId }} - {{ $post.Description }} - {{ $post.UpdatedAt }}</article>
    {{ end }}
</section>

<div>
    {{ .Pagination.Page }}
</div>
{{ end }}